@import url(https://fonts.googleapis.com/css2?family=Varela+Round);

.Header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    background-color: #df1d22;
    min-height: 20vh;
    color: white;
    font-family: "Varela Round", serif;
}

.Title {
    text-align: right;
    font-size: 40px;
    padding-bottom: 2vh;
}

.Subtitle {
    position: absolute;
    right: calc(15vh + 4vw);
    top: 13.5vh;
    text-align: right;
    font-size: 18px;
}

.SignIn {
    position: absolute;
    left: 4vw;
    top: 7.5vh;
    text-align: right;
    font-size: 22px;
    border: 0;
    background-color: #df1d22;
    color: white;
    font-family: "Varela Round", serif;
    cursor: pointer;

}

.SignIn:hover {
    color: #e7e7e7;
}

.Logo {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 15vh;
    height: 15vh;
}

@media screen and (max-width: 800px) {
    .Title {
        font-size: 32px;
    }

    .Subtitle {
        font-size: 16px;
    }

    .SignIn {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .Logo {
        width: 12.5vh;
        height: 12.5vh;
    }

    .Title {
        font-size: 28px;
    }

    .Subtitle {
        font-size: 14px;
        right: calc(12.5vh + 4vw);
    }

    .SignIn {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .Title {
        padding-bottom: 0px;
    }

    .Subtitle {
        display: none;
    }

    .SignIn {
        top: 8vh;
    }
}

@media screen and (max-width: 500px) {
    .Logo {
        width: 10vh;
        height: 10vh;
    }

    .Title {
        padding-bottom: 3vh;
        font-size: 24px
    }

    .SignIn {
        top: 14vh
    }
}