@import url(https://fonts.googleapis.com/css2?family=Varela+Round);


.MuiDialog-paper {
    display: flex;
}

.MuiDialog-root {
    font-family: "Varela Round", serif;
    cursor: default;
}

.DialogTitle {
    align-self: flex-start;
    font-size: 1.5em;
    margin-right: 10px;
    margin-top: 10px;
}

.NoUserText {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 10px 20px;
}

.MuiTextField-root {
    align-self: center;
    width: 80%;
}

.EnterButton {
    width: 80px;
    height: 30px;
    align-self: center;
    background-color: #df1d22;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: "Varela Round", serif;
    cursor: pointer;
    margin-top: 10px;
}

.EnterButton:hover {
    color: #e7e7e7;
}

.RegisterText {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}