@import url(https://fonts.googleapis.com/css2?family=Varela+Round);


.BusRegister {
    font-family: "Varela Round", serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    direction: rtl;
}

.InfoCard {
    display: flex;
    background-color: #d5d5d5;
    justify-content: right;
    border-radius: 15px;
    align-self: flex-start;
    flex-direction: column;
    text-align: right;
    margin: 1vh 7vw;
}

.FormTitle {
    text-align: right;
    margin-right: 7vw;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 24px;
}

.InfoCard p {
    font-size: 16px;
    margin-top: 0;
    margin-right: 5vw;
    margin-left: 5vw;
}

.InfoCard div {
    margin-top: 2vh;
    margin-bottom: 0;
}


.SubmitButton {
    align-self: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border: 0;
    background-color: #df1d22;
    color: white;
    border-radius: 15px;
    font-size: 24px;
    padding: 2vh;
    font-family: "Varela Round", serif;
    cursor: pointer;
}

.RegisterButton:hover {
    color: #e7e7e7;
}

